<footer class="footer">

    <div class="button">
        <a class= "button_link" href="#section1" alt="Botón para subir a la página inicial" >
            <img class="img" src="./assets/images/ico-arrow.svg" title="Presiona para ir a inicio">
        </a>
    </div>


        <div class="box1">
            <p>©2023</p>
            <p>we <span class="heart">&hearts;</span> run</p>
        </div>

        <div class="box2">
           
            <nav class="nav_footer">
                 <ul class="list">
                    <li class="item_list">
                        <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección zapatillas" title="Accede a ZAPATILLAS">ZAPATILLAS</a>
                    </li>

                    <li class="item_list">
                        <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección ropa" title="Accede a ">ROPA</a>
                    </li>
                    <li class="item_list">
                        <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección ropa de niños" title="Accede a ropa de niños">NIÑO/A</a>
                    </li>
                    <li class="item_list">
                        <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección destacados" title="Accede a la sección de destacados">DESTACADOS</a>
                    </li>
                    <li class="item_list">
                        <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección ropa" title="Accede a los Tips">TIPS</a>
                    </li>
                 </ul>
              
            </nav>
        
        </div>

        <div class="box3">

            <nav class="nav_footer" >
               
                    <ul class="list" >
                        <li class="item_list">
                            <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a Twitter" title="Accede a Twitter">TWITTER</a>
                        </li>
                         <li class="item_list">
                            <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a Instagram" title="Accede a Instagram">INSTAGRAM</a>  
                        </li>
                        
                        <li class="item_list">
                            <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a Youtube" title="Accede a ">YOUTUBE</a>
                        </li>
                     </ul>
                
            </nav>
            </a>
        </div>
        
        <div class="animation"></div>
    
</footer>