<footer class="footer">

    <div class="button">
        <a class= "button_link" href="#section1" alt="Botón para subir a la página inicial" title="Presiona para ir a inicio">
            <img class="img" src="./assets/images/ico-arrow.svg">
        </a>
    </div>


        <div class="box1">
            <p>©2023</p>
            <p>we <span class="heart">&hearts;</span> run</p>
        </div>

        <div class="box2">
            <nav class="nav_footer">
                <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a sección ropa" title="Accede a redes sección de ropa">
                    <ul class="list">
                        <li class="item_list">ZAPATILLAS</li>
                        <li class="item_list">ROPA</li>
                        <li class="item_list">NIÑO/A</li>
                        <li class="item_list">DESTACADOS</li>
                        <li class="item_list">TIPS</li>
                    </ul>
                </a>
            </nav>
        
        </div>

        <div class="box3">

            <nav class="nav_footer">
                <a class="footer_link" href="https://adalab.es" target="_blank" alt="Botón para acceder a redes sociales" title="Accede a redes sociales">

                        <ul class="list">
                            <li class="item_list">TWITTER</li>
                            <li class="item_list">INSTAGRAM</li>
                            <li class="item_list">YOUTUBE</li>
                        </ul>
                </a>
            </nav>
            
        </div>
        
        <div class="animation"></div>
    
</footer>