<main class="main">
   <section class="section1" id="section1">

        <div class="hero">
            <h1 class="title1"></h1>
            
            <p></p>
            
            <div>
                <a class="buttom_down" href="#">
                    <img class="ico_scroll" src="./assets/images/ico-scroll-down.svg">
                </a>
            
            </div>

        </div>
    </section>

    <section class="section2">
        <span class="p1">
            <p></p>
        </span>

        <h2 class="title2"></h2>

        <span class="p2">

            <p></p>
        </span>

        <div class="comprar">
            <a href="https://adalab.es" target="_blank" alt="Botón para comprar" title="Accede a compras">COMPRAR</a>
        </div>
        
    </section>

</main>