<main class="main">
   <section class="section1" id="section1">

        <div class="hero">
            
            <h1 class="title1">HASTA UN 50% DE DESCUENTO</h1>
            
            <p>Ya están aquí las ofertas de fin de temporada</p>
            
            <div>
                <a class="buttom_down" href="#">
                    <img class="ico_scroll" src="./assets/images/ico-scroll-down.svg">
                </a>
            </div>

        </div>
    </section>

    <section class="section2">
        <span class="p1">
            <p>Los sentimientos nos inspiran</p>
        </span>

        <h2 class="title2">Conecta contigo</h2>

        <span class="p2">

            <p>Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
        </span>

        <div class="comprar">
            <a href="https://adalab.es" target="_blank" alt="Botón para comprar" title="Accede a compras">COMPRAR</a>
        </div>
        
    </section>

</main>