/* fuentes */
/* colors */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.footer {
  background-color: #4a4a4a;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }

.button {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 2.2rem; }

.box1 {
  order: 4;
  font-size: 1.4rem; }

.nav_footer {
  text-decoration: none; }

/* fuentes */
/* colors */
.header {
  position: fixed;
  z-index: 3; }

.header_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #f26002; }

.header_link {
  width: 0.08rem;
  height: 0.2rem;
  color: #f26002; }

.main {
  font-family: "Roboto Slab", serif;
  overflow-x: hidden; }

.section1 {
  width: 32rem;
  height: 52rem;
  background-image: url(../images/cover.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 2rem; }

.p1 {
  color: #f26002;
  font-size: 1.4rem; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white; }

.title1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3rem;
  align-items: center;
  padding-left: 2rem; }

.section2_title {
  font-size: 2.4rem;
  justify-content: left; }

.p2 {
  color: #4a4a4a;
  font-size: 1.8rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.comprar {
  border-radius: 20%;
  border: solid 0.2rem #f26002;
  width: 6rem;
  height: 1.8rem;
  text-align: center;
  list-style-type: none; }

.section3 {
  background-color: #979797;
  display: grid;
  grid-template-rows: 5span;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.article_section3_title1 {
  margin-top: 2.9rem;
  font-size: 1.8rem;
  font-weight: bold; }

.empezar_ahora {
  border-radius: 20%;
  background-color: #f26002;
  text-align: center;
  color: white;
  padding-bottom: 1rem; }

* {
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

/*# sourceMappingURL=main.css.map */
