.footer {
    
    background-color: $color3;
    font-family: $font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 3rem;
}

.button {
background-color: white;
width: 4rem;
height: 4rem;
border-radius: 2.2rem;
transform: translateY(-4.5rem);
position: relative;



}

.button_link {
    position: absolute;
    top: 15%;
    right: 1rem;
    
}

.box1 {
    order: 4;
    font-size: 1.4rem;
    color: white;
    
}

 .box2,
 .box3 {
    font-size: 1.6rem;
    
}



.footer_link {
    text-decoration-line: none;
    color: white;
    text-transform: uppercase;
}

.heart {
    color: $color1;
}



.animation{
    background-color: $color1;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: linear 0s infinite alternate animating-multiple-properties; 
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-name: slidein;
} 

@keyframes slidein {
    

from {
     transform: translateX(20rem);
     background-color: red;
     filter: brightness(75%);
 }

 to {
     transform: translateY(10rem);
     background-color: orange;}

    }
 



@media (min-width: 768px) {
    

    .footer{
        
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
        padding-right: 2rem;
        position: relative;
        

    }

    .box1{

        order: 1;
        padding-right: 4rem;
        color: white;
    }

    .button {
        order: 3;
        position: absolute;
        top: 12%;
        left: 50%

    }

    .box2 {
        order: 2;
        padding-left: 15%;
        padding-right: 15%;
    }

    .box3 {
        order: 4;
    }

}