.main {
    font-family: $font;
    overflow-x: hidden;
    
    
}

.section1 {
    width: 100%;
    height: 52rem;
    background-image: url(../images/cover.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    gap: 3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    padding-bottom: 3rem;
}

.hero_p {
    padding: 2rem;
    font-size: 1.6rem;
}

.hero_div {
    background-color: white;
    border-radius: 50%;
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    position: relative;
}

.button_down {
    position: absolute;
    top: 25%;
    left: 25%;

    
}

.title1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    align-items: center;
    padding-left: 1rem;
}





.section2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top:  3rem;
    margin-bottom: 3rem;
    }
    


.p1 {
    color: $color1;
    font-size: 1.5rem;
    font-family: Roboto-regular;
    
}



.section2_title {
    font-size: 2.5rem;
    justify-content: left;
    font-weight: bold;
    font-family: RobotoSlab Bold;


}

.p2 {
    color: $color3;
    font-size: 1.8rem;
    font-family: Roboto regular;
    line-height: 3rem;
    }

.comprar {
    border-radius: 40%;
    border: solid 0.2rem $color1;
    width: 10rem;
    height: 4rem;
    text-align: center;
    position: relative;
    box-shadow: 0.5rem $color1;    
}
    

.section2_button {
    font-size: 1.8rem;
    font-family:Roboto medium;
    position:absolute;
    top: 25%;
    left: 13%;
    text-decoration-line: none;
    color: $color1;
    font-weight: bold;
    
}





.section3 {
    background-color: $color2;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    font-family: RobotoSlab-bold;
    
}

.section3_title1{
    margin-top: 2.9rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.section3_title2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.section3_p {
    font-family: Roboto-regular;
    font-size: 1.8rem;
}

.empezar_ahora {
   
    transform: translate(25%);
    border-radius: 20%;
    background-color: $color1;
    width: 15rem;
    height: 4rem;
    position: relative;
    
}

.section3_button {

text-decoration-line: none;
color: white;
font-family: Roboto-Medium;
font-size: 2rem;
position: absolute;
left: 10%;
bottom: 25%;

}


@media (min-width: 768px) {

.title1 {
    font-size: 6rem;

}

.hero_p {
    font-size: 2rem;
}

.p1 {
    font-size: 1.8rem;
}

.section2_title {
    font-size: 3rem;
}

.p2 {
    font-size: 2rem;
}

.comprar {
    width: 12rem;
    height: 5rem;
}

.section2_button {
    font-size: 2rem;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    
    
}

.section3_title1 {
grid-column-start: 1;
grid-column-end: 5;
font-size: 4rem;
}

.article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}

.section3_title2 {
    font-size: 2.5rem;
}

.section3_p {
    font-size: 2rem;
}

.empezar_ahora {

    grid-column-start: 2;
}

} 


@media (min-width: 1274px){

.section1 {
    height: 80rem;
    
}

.title1 {
    font-size: 10rem;
    text-shadow: 0.3rem 0.3rem $color3;
}

.hero_div {
    width: 5rem;
    height: 5rem;
}

.button_down {
    top: 35%;
    left: 30%;
}

.section2 {

    padding-left: 20%;
    padding-bottom: 5rem;

}

.empezar_ahora {

    transform: translate(70%);
}

}
    
